/* a:link {
  color: '#000';
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: '#000';
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: '#000';
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: '#000';
  background-color: transparent;
  text-decoration: underline;
} */